@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>Some content to make the page scroll</p>

<p>Some content to make the page scroll</p>
<p>Some content to make the page scroll</p>
<p>Some content to make the page scroll</p>
<p>Some content to make the page scroll</p>
<p>Some content to make the page scroll</p>
<p>Some content to make the page scroll</p>
<p>Some content to make the page scroll</p>
<p>Some content to make the page scroll</p>
<p>Some content to make the page scroll</p>
<p>Some content to make the page scroll</p>

<button class="btn btn-primary" @ref="_buttonRef" @onclick="() => _isOpen = !_isOpen">Testing Popper</button>

<Popper AnchorRef="_buttonRef" @bind-Open="_isOpen" Placement="top" AutoClose>
    <Content>
        <div id="tooltip">
            Autoclosing popover
            <div id="arrow" data-popper-arrow></div>
        </div>
    </Content>
</Popper>


<div class="pt-5 d-flex flex-row gap-5">
    <Popper Open Placement="top">
        <Anchor>
            <button class="btn btn-primary">Testing Popper</button>
        </Anchor>
        <Content>
            <div id="tooltip">
                Popover top
                <div id="arrow" data-popper-arrow></div>
            </div>
        </Content>
    </Popper>

    <Popper Open Placement="left">
        <Anchor>
            <button class="btn btn-primary">Testing Popper</button>
        </Anchor>
        <Content>
            <div id="tooltip">
                Popover left
                <div id="arrow" data-popper-arrow></div>
            </div>
        </Content>
    </Popper>

    <Popper Open Placement="bottom">
        <Anchor>
            <button class="btn btn-primary">Testing Popper</button>
        </Anchor>
        <Content>
            <div id="tooltip">
                Popover bottom
                <div id="arrow" data-popper-arrow></div>
            </div>
        </Content>
    </Popper>

    <Popper Open Placement="right">
        <Anchor>
            <button class="btn btn-primary">Testing Popper</button>
        </Anchor>
        <Content>
            <div id="tooltip">
                Popover right
                <div id="arrow" data-popper-arrow></div>
            </div>
        </Content>
    </Popper>
</div>

@*<Popper @bind-Open="_isOpen">
    <Anchor>
        <button class="btn btn-primary" @onclick="() => _isOpen = !_isOpen">Testing Popper</button>
    </Anchor>
    <Content>
        <div id="tooltip">
            Popover left
            <div id="arrow" data-popper-arrow></div>
        </div>
    </Content>
</Popper>

<Popper @bind-Open="_isOpen">
    <Anchor>
        <button class="btn btn-primary" @onclick="() => _isOpen = !_isOpen">Testing Popper</button>
    </Anchor>
    <Content>
        <div id="tooltip">
            Popover bottom
            <div id="arrow" data-popper-arrow></div>
        </div>
    </Content>
</Popper>

<Popper >
    <Anchor>
        <button class="btn btn-primary" @onclick="() => _isOpen = !_isOpen">Testing Popper</button>
    </Anchor>
    <Content>
        <div id="tooltip">
            Popover right
            <div id="arrow" data-popper-arrow></div>
        </div>
    </Content>
</Popper>*@


@code {
    private bool _isOpen;
    private ElementReference _buttonRef;

    protected override void OnInitialized()
    {
    }
}