@page "/"

<PageTitle>Index</PageTitle>

<BodyPortal>
    <div>This should be at the end of the body</div>
</BodyPortal>

<Portal Name="header">
    <div>This should be in the header</div>
</Portal>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
