@page "/"

<PageTitle>Index</PageTitle>

<CascadingValue Value=cascadedValue>
    <BodyPortal>
        <ComponentInPortal />
    </BodyPortal>
</CascadingValue>

<Portal Name="header">
    <div>This should be in the header</div>
</Portal>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private CascadeTesting cascadedValue = new CascadeTesting("Testing");
}